# Source: https://github.com/kyverno/policies/raw/main//other/restrict-deprecated-registry/restrict-deprecated-registry.yaml
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: restrict-deprecated-registry
  annotations:
    "helm.sh/hook": post-install,pre-delete,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": hook-succeeded
    policies.kyverno.io/title: Restrict Deprecated Registry
    policies.kyverno.io/category: Best Practices, EKS Best Practices
    policies.kyverno.io/severity: high
    policies.kyverno.io/minversion: 1.9.0
    policies.kyverno.io/subject: Pod
    policies.kyverno.io/description: >-
      Legacy k8s.gcr.io container image registry will be frozen in early April 2023
      k8s.gcr.io image registry will be frozen from the 3rd of April 2023.  
      Images for Kubernetes 1.27 will not be available in the k8s.gcr.io image registry.
      Please read our announcement for more details.
      https://kubernetes.io/blog/2023/02/06/k8s-gcr-io-freeze-announcement/     
spec:
  # validationFailureAction: Enforce
  validationFailureAction: Audit
  background: true
  rules:
  - name: restrict-deprecated-registry-k8s
    match:
      any:
      - resources:
          kinds:
          - Pod
    validate:
        message: "The \"k8s.gcr.io\" image registry is deprecated. \"registry.k8s.io\" should now be used."
        foreach:
          - list: "request.object.spec.[initContainers, ephemeralContainers, containers][]"
            deny:
              conditions:
                all:
                  - key: '{{`{{element.image}}`}}'
                    operator: AnyIn
                    value:
                      - "k8s.gcr.io/*"
                      - "gcr.io/google-containers/*"
  - name: restrict-deprecated-registry-bitnami
    match:
      any:
      - resources:
          kinds:
          - Pod
    validate:
        message: "The \"bitnami\" image registry is deprecated. \"docker.io/bitnamilegacy\" should now be used."
        foreach:
          - list: "request.object.spec.[initContainers, ephemeralContainers, containers][]"
            deny:
              conditions:
                all:
                  - key: '{{`{{element.image}}`}}'
                    operator: Equals
                    value: 
                    - "bitnami/*"
                    - "docker.io/bitnami/*"