apiVersion: kyverno.io/v2
kind: PolicyException
metadata:
  name: exempt-all-policies-for-siem-data-agents
  namespace: siem-data-agents
  annotations:
    policies.kyverno.io/title: Exempt all policies for siem-data-agents namespace
    policies.kyverno.io/category: Other in CEL 
    policies.kyverno.io/severity: medium
    kyverno.io/kyverno-version: 1.11.0
    kyverno.io/kubernetes-version: "1.26-1.27"
    policies.kyverno.io/subject: Pods in siem-data-agents
    policies.kyverno.io/description: >-
      This exception exempts all policies and rules for resources in the siem-data-agents namespace.
      This is useful for avoiding conflicts with critical system components that may not comply
      with certain policies.
spec:
  exceptions:
  - policyName: "*"
    ruleNames:
    - "*"
  match:
    any:
    - resources:
        namespaces:
        - siem-data-agents